
/* this properties will be applied globally in our project */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* add background */
  /* background-image: linear-gradient(to right,rgb(126, 126, 126),rgb(117, 117, 255)); */
  background-image: linear-gradient(to right,rgb(253, 223, 123),rgb(117, 216, 255));
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  cursor: pointer;
}